@media only screen and (min-height: 720px) {
  .game-control {
    width: 280px !important;
    top: 40% !important;
  }
}

@media only screen and (min-height: 1440px) {
  .game-control {
    width: 320px !important;
    top: 50% !important;
  }
}

.game-control-wrap {
  height: 720px;
  width: 100%;
  min-width: 1000px;
  position: absolute;
}

.game-control {
  width: 240px;
  background: transparent;
  border: 5px solid transparent;
  border-radius: 0.5rem;
  margin: auto;
  position: relative;
  padding: 5px;
  top: 30%;
  z-index: 1;
}

.game-control-visible {
  -webkit-animation: slideIn 0.75s forwards;
  -moz-animation: slideIn 0.75s forwards;
  animation: slideIn 0.75s forwards;
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.game-control-hidden {
  -webkit-animation: slideOut 0.75s forwards;
  -moz-animation: slideOut 0.75s forwards;
  animation: slideOut 0.75s forwards;
}

@-webkit-keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(1000px);
  }
}

@-moz-keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(1000px);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(1000px);
  }
}