.countdown {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;

  @apply bg-transparent
}

.countdown p {
  animation: zoom 1s ease-out 3;

  @apply font-bold text-slate-100 text-5xl;
}

@keyframes zoom {
  0% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
