.game-wrap {
  height: 800px;
  width: 700px; /* FIXME */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tetris-main {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tetris-text {
  font-size: 1.5em;
  color: #D8DEE9;
}

.tetris-board {
  border: 5px solid #D8DEE9;
  border-radius: 0.1rem;
}

.tetris-col {
  display: flex;
}

/* Styles for tiles */
[class*=row-] {
  max-width: 32px !important;
  border: 1px solid transparent;
  padding: 15px;
}

/* Default (empty) board column */
.row-0 {
  background-color: #2E3440;
}

/* Colors for tiles */
.row-1 {
  background-color: #A3BE8C;
}

.row-2 {
  background-color: #5E81AC;
}

.row-3 {
  background-color: #D08770;
}

.row-4 {
  background-color: #88C0D0;
}

.row-5 {
  background-color: #B48EAD;
}

.row-6 {
  background-color: #BF616A;
}

.row-7 {
  background-color: #EBCB8B;
}

.row-8 {
  background-color:#D8DEE9;
  opacity: 0.5;
}
