body, html, #root {
  background: #282c34;
  font-size: 10px;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

h1 {
  padding: 10px;
  color: #eceff4;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 5em;
  text-align: center;
  text-shadow: 2rem 0 2rem #1d1f23;
}

h2 {
  padding: 10px;
  color: #d8dee9;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3.25em;
  text-align: center;
  text-shadow: 2rem 0 2rem #1d1f23;
}

p {
  color: #d8dee9;
  font-family: 'Kanit', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

label {
  width: 100%;
  color: #d8dee9;
  font-family: 'Kanit', sans-serif;
  font-size: 1.75em;
  font-weight: 500;
}

::placeholder {
  color: #282c3463;
  font-family: 'Kanit', sans-serif;
  font-size: 1em;
}

/*
  Common stylings for pages
*/
#outer-container {
  height: 100%;
  position: relative;
}

#game-container {
  height: 100%;
  position: relative;
  padding-top: 75px;
}

#profile-container {
  height: 100%;
  position: relative;
  padding-top: 75px;
}

/* 
  Button Component
*/

.btn-custom {
  color: #21252b;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 0.25rem;
  box-shadow: 1rem 0 2rem #1d1f23;
  display: inline-block;
  font-family: 'Kanit', sans-serif;
  font-size: 1.75em;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn-custom {
    transition: none;
  }
}

.btn-custom:hover {
  color: #21252b;
  text-decoration: none;
}

.btn-custom:focus, .btn-custom.focus {
  outline: none;
}

.btn-custom.disabled, .btn-custom:disabled {
  opacity: 0.65;
}

.btn-custom:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.btn-custom.disabled,
fieldset:disabled a.btn-custom {
  pointer-events: none;
}

.btn-custom-light {
  color: #282c34;
  background-color: #d8dee9;
  border-color: #d8dee9;
}

.btn-custom-light:hover {
  color: #d8dee9;
  background-color: #282c34;
  border-color: #d8dee9;
}

.btn-custom-light.disabled, .btn-custom-light:disabled {
  color: #282c34;
  background-color: transparent;
}

.btn-custom-light:not(:disabled):not(.disabled):active, .btn-custom-light:not(:disabled):not(.disabled).active,
.show > .btn-custom-light.dropdown-toggle {
  color: #282c34;
  background-color: #d8dee963;
  border-color: #d8dee963;
}

.btn-custom-dark {
  color: #d8dee9;
  background-color: #282c34;
  border-color: #282c34;
}

.btn-custom-dark:hover {
  color: #282c34;
  background-color: #d8dee9;
  border-color: #282c34;
}

.btn-custom-dark.disabled, .btn-custom-dark:disabled {
  color: #d8dee9;
  background-color: transparent;
}

.btn-custom-dark:not(:disabled):not(.disabled):active, .btn-custom-dark:not(:disabled):not(.disabled).active,
.show > .btn-custom-dark.dropdown-toggle {
  color: #d8dee9;
  background-color: #282c3463;
  border-color: #282c3463;
}

/*
  Forms
*/

.form-control-custom {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #21252b;
  background-color: #d8dee9;
  background-clip: padding-box;
  border: 5px solid #d8dee9;
  border-radius: 0.25rem;
  box-shadow: 1rem 0 2rem #1d1f23;
  outline: none;
}
