@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body, html, #root {
  font-size: 15px;
  height: 100%;
  margin: 0;
  min-width: 750px;
}

h1 {
  padding: 25px;
  color: #ECEFF4;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3em;
  text-align: center;
}

h2, p {
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
}

h2 {
  color: #D8DEE9;
}

p {
  color: #D8DEE9;
  font-size: 2.5em;
}

label {
  color: #4C566A;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 1em;
}

.full-height {
  height: 100%;
}

.app {
  position: relative;
}

.form-bg {
  background-color: #ECEFF4;
}

.game-bg {
  background-color: #2E3440;
}

.form, .game {
  margin: auto;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 150px;
}

.form {
  padding-top: 350px;
}

.game {
  padding-top: 150px;
  width: 800px;
}

/*  
  Tetris Component
*/

.top-panel {
  flex: 0 0 300px;
  -ms-flex: 0 0 300px;
}

.left-panel {
  flex: 0 0 150px;
  -ms-flex: 0 0 150px;
}

.right-panel {
  flex: 0 0 150px;
  -ms-flex: 0 0 150px;
}

.main-panel {
  flex: 0 0 300px;
  -ms-flex: 0 0 300px;
}

.game-block {
  margin: 0px;
  padding: 0px;
  width: 25px;
  height: 25px;
}

.piece-i {
  background-color: #88C0D0;
}

.piece-j {
  background-color: #8FBCBB;
}

.piece-l {
  background-color: #B48EAD;
}

.piece-o {
  background-color: #A3BE8C;
}

.piece-s {
  background-color: #EBCB8B;
}

.piece-t {
  background-color: #D08770;
}

.piece-z {
  background-color: #BF616A;
}

.game-board, .piece-view {
  margin: 5px;
  border: 5px solid #D8DEE9;
}

/* 
  Button Component
*/

.btn-custom {
  display: inline-block;
  font-weight: 400;
  color: #2E3440;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-family: 'Rubik Mono One', sans-serif;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn-custom {
    transition: none;
  }
}

.btn-custom:hover {
  color: #2E3440;
  text-decoration: none;
}

.btn-custom:focus, .btn-custom.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-custom.disabled, .btn-custom:disabled {
  opacity: 0.65;
}

.btn-custom:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.btn-custom.disabled,
fieldset:disabled a.btn-custom {
  pointer-events: none;
}

.btn-outline-nord-light {
  color: #D8DEE9;
  border-color: #D8DEE9;
}

.btn-outline-nord-light:hover {
  color: #4C566A;
  background-color: #D8DEE9;
  border-color: #D8DEE9;
}

.btn-outline-nord-light:focus, .btn-outline-nord-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-nord-light.disabled, .btn-outline-nord-light:disabled {
  color: #D8DEE9;
  background-color: transparent;
}

.btn-outline-nord-light:not(:disabled):not(.disabled):active, .btn-outline-nord-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-nord-light.dropdown-toggle {
  color: #4C566A;
  background-color: #D8DEE9;
  border-color: #D8DEE9;
}

.btn-outline-nord-light:not(:disabled):not(.disabled):active:focus, .btn-outline-nord-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-nord-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-nord-dark {
  color: #4C566A;
  border-color: #4C566A;
}

.btn-outline-nord-dark:hover {
  color: #D8DEE9;
  background-color: #4C566A;
  border-color: #4C566A;
}

.btn-outline-nord-dark:focus, .btn-outline-nord-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-nord-dark.disabled, .btn-outline-nord-dark:disabled {
  color: #4C566A;
  background-color: transparent;
}

.btn-outline-nord-dark:not(:disabled):not(.disabled):active, .btn-outline-nord-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-nord-dark.dropdown-toggle {
  color: #4C566A;
  background-color: #4C566A;
  border-color: #4C566A;
}

.btn-outline-nord-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-nord-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-nord-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}