.game-control-wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  align-items: center;
}

.game-control {
  width: 300px;
  background: #2E3440;
  border: 5px solid transparent;
  border-radius: 0.1rem;
  margin: auto;
  top: 40%;
  position: relative;
  z-index: 1;
}

.game-control-visible {
  -webkit-animation: slideIn 0.75s forwards;
  -moz-animation: slideIn 0.75s forwards;
  animation: slideIn 0.75s forwards;
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.game-control-hidden {
  -webkit-animation: slideOut 0.75s forwards;
  -moz-animation: slideOut 0.75s forwards;
  animation: slideOut 0.75s forwards;
}

@-webkit-keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(1000px);
  }
}

@-moz-keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(1000px);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(1000px);
  }
}