.form {
  height: 100%;
  width: 500px;
  max-width: 500px;
  margin: auto;
  padding-top: 200px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 200px;
}

.form h1 {
  margin-bottom: 50px;
}

.form-buttons {
  display: grid;
  grid-template-columns: 195px 10px 195px;
}

.form-separator {
  color: #d8dee9;
  font-family: 'Kanit', sans-serif;
  font-size: 1.75em;
  font-weight: 500;
  text-align: center;
}

.bm-cross {
  background: #d8dee9;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #282c34;
  box-shadow: 1rem 0 2rem #1d1f23;
  padding: 2.5em 1.5em 0;
}

.bm-item {
  display: inline-block;
  outline: none;
}

.bm-overlay {
  background: #1d1f2363 !important;
}
