.profile-card-wrap {
  width: 500px;
  margin: auto;
}

.profile-card {
  background-color: #ECEFF4;
  border: 5px solid #D8DEE9;
  border-radius: 0.1rem;
  display: grid;
  grid-template-columns: minmax(175px, 25%) 1fr;
  margin-bottom: 10px;
}

.profile-cl {
  padding: 25px;
}

.user-profile-pic {
  height: 150px;
  width: 150px;
  background-color: #ECEFF4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #D8DEE9;
  border-radius: 0.1rem;
}

.user-info {
  margin: auto;
  color: #434C5E;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 1em;
  text-align: left;
}

.label {
  font-size: 0.75em;
}

.high-score {
  background-color: #ECEFF4;
  border: 5px solid #D8DEE9;
  border-radius: 0.1rem;
  color: #434C5E;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 1.5em;
  padding: 25px;
  text-align: center;
}

.high-score .score {
  text-align: left;
  font-size: 0.75em;
}

.high-score .timestamp {
  text-align: right;
  font-size: 0.75em;
}

.record {
  display: grid;
  grid-template-columns: minmax(175px, 25%) 1fr;
}