.profile-card-wrap {
  width: 500px;
  margin: auto;
}

.profile-card {
  background-color: #282c34;
  border: 5px solid #d8dee9;
  border-radius: 0.5rem;
  box-shadow: 1rem 0 2rem #1d1f23;
  display: grid;
  grid-template-columns: minmax(175px, 25%) 1fr;
  margin-bottom: 10px;
}

.profile-cl {
  padding: 25px;
}

.user-profile-pic {
  height: 150px;
  width: 150px;
  background-color: #d8dee9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #282c34;
  border-radius: 0.5rem;
  box-shadow: 1rem 0 2rem #1d1f23;
}

.user-info {
  margin: auto;
  color: #eceff4;
  font-family: 'Kanit', sans-serif;
  font-size: 1.25em;
  text-align: left;
}

.user-info p {
  color: #d8dee9;
  font-size: 1.5em;
}

.high-score {
  background-color: #282c34;
  border: 5px solid #d8dee9;
  border-radius: 0.1rem;
  box-shadow: 1rem 0 2rem #1d1f23;
  color: #d8dee9;
  font-family: 'Kanit', sans-serif;
  padding: 25px;
  text-align: center;
}

.high-score p {
  font-size: 2em;
}

.record {
  display: grid;
  grid-template-columns: minmax(175px, 25%) 1fr;
}

.record .score {
  text-align: left;
  font-size: 1.75em;
}

.record .timestamp {
  text-align: right;
  font-size: 1.75em;
}
