@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: content-box;
}

progress {
  appearance: none;

  @apply h-4 w-44 accent-slate-100 bg-slate-800 border-slate-100 border-4 rounded;
}

progress::-webkit-progress-bar {
  @apply bg-slate-800 border-slate-100 border-4;
}

progress::-webkit-progress-value {
  @apply bg-slate-100;
}

progress::-moz-progress-bar {
  @apply bg-slate-100;
}

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  @apply bg-transparent border-4 border-transparent font-medium text-lg rounded;
}

@media (prefers-reduced-motion: reduce) {
  .button {
    transition: none;
  }
}

.button:hover {
  text-decoration: none;

  @apply bg-transparent;
}

.button:focus,
.button.focus {
  outline: none;
}

.button.disabled,
.button:disabled {
  opacity: 0.65;
}

.button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.button.disabled,
fieldset:disabled a.button {
  pointer-events: none;
}

.button-light {
  @apply text-gray-800 bg-slate-100 border-slate-100;
}

.button-light:hover {
  @apply text-slate-100 bg-gray-800 border-slate-100;
}

.button-light.disabled,
.button-light:disabled {
  @apply text-gray-800 bg-transparent;
}

.button-light:not(:disabled):not(.disabled):active,
.button-light:not(:disabled):not(.disabled).active,
.show > .button-light.dropdown-toggle {
  @apply text-gray-800 bg-slate-100/50 border-slate-100/50;
}

.button-dark {
  @apply text-slate-100 bg-gray-800 border-gray-800;
}

.button-dark:hover {
  @apply text-gray-800 bg-slate-100 border-gray-800;
}

.button-dark.disabled,
.button-dark:disabled {
  @apply text-slate-100 bg-transparent;
}

.button-dark:not(:disabled):not(.disabled):active,
.button-dark:not(:disabled):not(.disabled).active,
.show > .button-dark.dropdown-toggle {
  @apply text-slate-100 bg-gray-800/50 border-gray-800/50;
}

/* Styles for default tetrominos */
.row {
  border: 1px solid transparent;
  padding: 10px;
}

/* Styles for queue tetrominos */
.row-queue {
  padding: 5px;
}

/* Styles for ghost tetrominos & tetrominos on game over */
.row-ghost {
  background-color: #f3f4f6;
  opacity: 0.25;
}

/* Default (empty) board column */
.row-0 {
  background-color: #1f2937;
}

/* Colors for tetrominos */
.row-1 {
  background-color: #fef08a;
}

.row-2 {
  background-color: #93c5fd;
}

.row-3 {
  background-color: #d8b4fe;
}

.row-4 {
  background-color: #a5b4fc;
}

.row-5 {
  background-color: #fdba74;
}

.row-6 {
  background-color: #fca5a5;
}

.row-7 {
  background-color: #86efac;
}

.row-8 {
  background-color: #e9e7e7ac;
}

/* Styles for tetrominos with grid */
.row-grid-0 {
  border: 1px solid #374151;
  background-color: #1f2937;
}

.row-grid-1 {
  background-color: #fef08a;
}

.row-grid-2 {
  background-color: #93c5fd;
}

.row-grid-3 {
  background-color: #d8b4fe;
}

.row-grid-4 {
  background-color: #a5b4fc;
}

.row-grid-5 {
  background-color: #fdba74;
}

.row-grid-6 {
  background-color: #fca5a5;
}

.row-grid-7 {
  background-color: #86efac;
}
