.outer {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  @apply bg-gray-800;
}

.transform-outer {
  animation-duration: 1.75s;
  animation-fill-mode: forwards;
  animation-name: outer-stretch;
  animation-timing-function: ease-in;
}

@keyframes outer-stretch {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.inner {
  border: 5px solid #f3f4f6;
  border-radius: 0.25rem;
  place-items: center;
  position: absolute;
  left: 50%;
  top: 43.5%;
  transform: translate(-50%, -50%);

  @apply grid h-10 w-44;
}

.transform-inner {
  animation-duration: 1.75s;
  animation-fill-mode: forwards;
  animation-name: inner-stretch;
  animation-timing-function: ease-out;
}

@keyframes inner-stretch {
  0% {
    height: 40px;
    width: 176px;
  }
  75% {
    height: 440px;
    width: 220px;
  }
  100% {
    height: 440px;
    width: 220px;
  }
}

.logo {
  position: absolute;
  left: 50%;
  top: 33.5%;
  transform: translate(-50%, -50%);

  @apply text-slate-100 text-3xl font-bold;
}

.start {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @apply h-10 w-44;
}
