/* Styles for default tetrominos */
.row {
  border: 1px solid transparent;
  padding: 10px;
}

/* Styles for queue tetrominos */
.row-queue {
  padding: 5px;
}

/* Styles for ghost tetrominos & tetrominos on game over */
.row-ghost {
  background-color: #f3f4f6;
  opacity: 0.25;
}

/* Default (empty) board column */
.row-0 {
  background-color: #1f2937;
}

/* Colors for tetrominos */
.row-1 {
  background-color: #fef08a;
}

.row-2 {
  background-color: #93c5fd;
}

.row-3 {
  background-color: #d8b4fe;
}

.row-4 {
  background-color: #a5b4fc;
}

.row-5 {
  background-color: #fdba74;
}

.row-6 {
  background-color: #fca5a5;
}

.row-7 {
  background-color: #86efac;
}

.row-8 {
  background-color: #e9e7e7ac;
}

/* Styles for tetrominos with grid */
.row-grid-0 {
  border: 1px solid #374151;
  background-color: #1f2937;
}

.row-grid-1 {
  background-color: #fef08a;
}

.row-grid-2 {
  background-color: #93c5fd;
}

.row-grid-3 {
  background-color: #d8b4fe;
}

.row-grid-4 {
  background-color: #a5b4fc;
}

.row-grid-5 {
  background-color: #fdba74;
}

.row-grid-6 {
  background-color: #fca5a5;
}

.row-grid-7 {
  background-color: #86efac;
}
