.info {
  width: 280px;
  color: #f3f4f6;
  font-size: 1.5em;
  font-weight: 700;
  opacity: 0;
  text-align: center;

  @apply grid grid-cols-2 gap-x-3;
}

.transform-info {
  animation-duration: 1.75s;
  animation-fill-mode: forwards;
  animation-name: info-fade-in;
  animation-timing-function: ease-out;
}

@keyframes info-fade-in {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.queue {
  @apply grid grid-rows-6 gap-1;
}

.held,
.next {
  min-height: 33px;
  min-width: 33px;
}

.held {
  opacity: 0;
  place-self: start;
}

.transform-held {
  animation-duration: 1.75s;
  animation-fill-mode: forwards;
  animation-name: held-fade-in;
  animation-timing-function: ease-out;
}

@keyframes held-fade-in {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    border: 5px solid #f3f4f6;
    border-radius: 0.25rem;
    opacity: 1;
  }
}

.game {
  border: 5px solid #f3f4f6;
  border-radius: 0.25rem;
  height: 440px;
  width: 220px;
  opacity: 0;
}

.transform-game {
  animation-duration: 1.75s;
  animation-fill-mode: forwards;
  animation-name: game-fade-in;
  animation-timing-function: ease-out;
}

@keyframes game-fade-in {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    border: 5px solid #f3f4f6;
    border-radius: 0.25rem;
    opacity: 1;
  }
}

.transform-queue > .next {
  animation-duration: 1.75s;
  animation-fill-mode: forwards;
  animation-name: queue-fade-in;
  animation-timing-function: ease-out;
}

@keyframes queue-fade-in {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    border: 5px solid #f3f4f6;
    border-radius: 0.25rem;
    opacity: 1;
  }
}

/* Styles for default tetrominos */
.row {
  border: 1px solid transparent;
  padding: 10px;
}

.row-test {
  border: 1px solid transparent;
  padding: 5px;
}

/* Default (empty) board column */
.row-0 {
  background-color: #1f2937;
}

/* Colors for tetrominos */
.row-1 {
  background-color: #86efac;
}

.row-2 {
  background-color: #a5b4fc;
}

.row-3 {
  background-color: #fdba74;
}

.row-4 {
  background-color: #93c5fd;
}

.row-5 {
  background-color: #d8b4fe;
}

.row-6 {
  background-color: #fca5a5;
}

.row-7 {
  background-color: #fef08a;
}

.row-8 {
  background-color: #f3f4f6;
  opacity: 0.25;
}

/* Styles for tetrominos with grid */
.row-wgrid-0 {
  border: 1px solid #374151;
  background-color: #1f2937;
}

.row-wgrid-1 {
  background-color: #86efac;
}

.row-wgrid-2 {
  background-color: #a5b4fc;
}

.row-wgrid-3 {
  background-color: #fdba74;
}

.row-wgrid-4 {
  background-color: #93c5fd;
}

.row-wgrid-5 {
  background-color: #d8b4fe;
}

.row-wgrid-6 {
  background-color: #fca5a5;
}

.row-wgrid-7 {
  background-color: #fef08a;
}

.row-wgrid-8 {
  background-color: #f3f4f6;
  opacity: 0.25;
}
