#game-wrap {
  background: #3B4252;
  height: 100%;
  margin: auto;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 150px;
  position: relative;
}

.game {
  width: 650px;
  margin: auto;
  position: relative;
  top: 10%;
}

.left-panel, .right-panel {
  width: 127px;
}

.main-panel {
  width: 332px;
}

.game-board, .piece-view {
  margin: 5px;
}

.game-board {
  width: 315px;
  height: 610px;
}

.piece-view {
  width: 110px;
  display: inline-block;
}

.game-block {
  margin: 0px;
  padding: 0px;
  width: 25px;
  height: 25px;
}