.game-outer-frame {
  background-color: #2E3440;
  height: 100%;
  max-width: 100%;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: auto;
  padding-top: 75px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 150px;
}

.game {
  width: 650px;
  margin: auto;
}

.top-panel {
  flex: 0 0 300px;
  -ms-flex: 0 0 300px;
}

.left-panel, .right-panel {
  width: 150px;
  max-width: 100%;
  display: inline-block;
}

.main-panel {
  width: 332px;
  max-width: 100%;
  display: inline-block;
}

.game-board, .piece-view {
  margin: 5px;
}

.game-board {
  width: 293.2px;
  max-width: 293.2px;
  height: 566.8px;
}

.piece-view {
  width: 109.2px;
  max-width: 109.2px;
  display: flex;
}

.game-block {
  margin: 0px;
  padding: 0px;
  width: 25px;
  height: 25px;
}