.game-wrap {
  height: 800px;
  width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tetris-info {
  width: 458px;
  margin: auto;
}

.tetris-info p {
  color: #d8dee9;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  text-shadow: 1rem 0 1rem #191b20;
}

.tetris-held {
  border: 5px solid #d8dee9;
  border-radius: 0.5rem;
  box-shadow: 1rem 0 2rem #191b20;
}

.tetris-next {
  border: 5px solid #d8dee9;
  border-radius: 0.5rem;
  box-shadow: 1rem 0 2rem #191b20;
  margin-bottom: 15px;
}

.tetris-board {
  border: 5px solid #d8dee9;
  border-radius: 0.5rem;
  box-shadow: 1rem 0 2rem #191b20;
}

.tetris-col {
  display: flex;
}

/* Styles for default tetrominos */
div[class*=row-] {
  border: 1px solid transparent;
  padding: 12.5px;
}

/* Default (empty) board column */
.row-0 {
  background-color: #262b35;
}

/* Colors for tetrominos */
.row-1 {
  background-color: #a3be8c;
}

.row-2 {
  background-color: #5e81ac;
}

.row-3 {
  background-color: #d08770;
}

.row-4 {
  background-color: #88c0d0;
}

.row-5 {
  background-color: #b48ead;
}

.row-6 {
  background-color: #bf616a;
}

.row-7 {
  background-color: #ebcb8b;
}

.row-8 {
  background-color: #eceff4;
  opacity: 0.25;
}

/* Styles for tetrominos with grid */
div[class*=row-wgrid-] {
  border: 1px solid #525761;
  padding: 12.5px;
}

.row-wgrid-0 {
  background-color: #262b35;
}

.row-wgrid-1 {
  border: 1px solid transparent !important;
  background-color: #a3be8c;
}

.row-wgrid-2 {
  border: 1px solid transparent !important;
  background-color: #5e81ac;
}

.row-wgrid-3 {
  border: 1px solid transparent !important;
  background-color: #d08770;
}

.row-wgrid-4 {
  border: 1px solid transparent !important;
  background-color: #88c0d0;
}

.row-wgrid-5 {
  border: 1px solid transparent !important;
  background-color: #b48ead;
}

.row-wgrid-6 {
  border: 1px solid transparent !important;
  background-color: #bf616a;
}

.row-wgrid-7 {
  border: 1px solid transparent !important;
  background-color: #ebcb8b;
}

.row-wgrid-8 {
  border: 1px solid transparent !important;
  background-color: #eceff4;
  opacity: 0.25;
}